n8n-workflow-email-inbound.json
{
  "_comment": "OPTIONEEL — niet vereist voor basiswerking. Mailjet stuurt inbound mails rechtstreeks naar /api/mailjet/inbound. Deze flow kan gebruikt worden voor extra automation NA ontvangst: notificaties, AI-classificatie, ticket-suggesties, Slack-alerts, enz.",
  "name": "E-mail automation (optioneel – post-inbound)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-automation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-email-event",
      "name": "Webhook – E-mail event van app",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 0],
      "notes": "De app kan dit webhook aanroepen NA opslag van een mail voor extra automation. Payload: { emailId, from, subject, clientId, changeRequestId }"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.body.changeRequestId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isEmpty" }
            }
          ]
        }
      },
      "id": "check-unlinked",
      "name": "Niet gekoppeld aan ticket?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "jsCode": "// Voorbeeld: stuur Slack notificatie voor onbekende e-mail\nconst d = $input.first().json.body;\nreturn [{ json: { message: `Nieuwe e-mail van ${d.from} – geen ticket gekoppeld: \"${d.subject}\"` } }];"
      },
      "id": "notify-unlinked",
      "name": "Notificatie (aanpassen)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -80],
      "notes": "Pas aan: Slack, Teams, e-mail notificatie, enz."
    }
  ],
  "connections": {
    "Webhook – E-mail event van app": { "main": [[{ "node": "Niet gekoppeld aan ticket?", "type": "main", "index": 0 }]] },
    "Niet gekoppeld aan ticket?": { "main": [[{ "node": "Notificatie (aanpassen)", "type": "main", "index": 0 }], []] }
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
